<!DOCTYPE html>
<html>
<head>
  <h1 align = 'center'>Mohammed Ishaakh Ahamed</h1>
  <h2 align = 'center'>1001986153</h2><br><br>


  
<style>
    body {
      background-color: rgb(164, 212, 157);
    }
    </style>
  <center>
  <body>
  <div class="form-check">
    <form action="/index" method="POST">
         Enter the Names: <input type="text" placeholder="Name" name="names" > <br/><br/>
         Odd/Even: <input type="text" placeholder="Name" name="oddeven" > <br/><br/>

    <input type="submit" value="Submit">
  </form>
  </div>
  </body>
</center>
  </html>