<!DOCTYPE html>
<html lang="en">



  <head>
    <h1 align = 'center'>Mohammed Ishaakh Ahamed</h1>
    <h2 align = 'center'>1001986153</h2><br><br>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
<body>
    <style>
        fieldset {
            background-color: #e28f8f;
        }

        legend {
            background-color: gray;
            color: rgb(116, 22, 22);
            padding: 5px 10px;
        }

        input {
            margin: 5px;
        }
        body {
            background-color: rgb(164, 212, 157);
          }
    </style>

    <form action="taskone" enctype="multipart/form-data" method="post">
       <label>
        Enter the number of Fruits required
       </label>
       <br>
       <br>
    
       <input type="number" name="fruits"/>
       <br>
         <label>
        Enter the names of the Fruits seperated list using ',' and no spaces
        <br>
     
      </label>
       <textarea id="w3review" name="fruitsname" rows="4" cols="50"></textarea>
        <br><input type="submit" value="submit" />
    </form>
    <hr>
    <br>
    <br>
    <br>
    
        <form action="tasktwo" enctype="multipart/form-data" method="post">
       <label>
        Number of Fruits required which are largest in data
       </label>
       <input type="number" name="fruitsl"/>
       <input type="submit" value="submit" />
    </form>
    <br>
    <br>
    
    
    <form action="taskthree" enctype="multipart/form-data" method="post">
       <label>
        Enter the range of values
       </label>
       <input type="number" name="lowrange"/>
       <input type="number" name="highrange"/>
       <input type="submit" value="submit" />
    </form>

</body>
</center>
</html>